## Preprocessing

In [49]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [50]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'(initial attempt); 'EIN','STATUS', 'SPECIAL_CONSIDERATIONS'(adjustment).
application_df = application_df.drop(columns = ['EIN', 'STATUS', 'SPECIAL_CONSIDERATIONS'])

In [29]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
INCOME_AMT 9
ASK_AMT 8747
IS_SUCCESSFUL 2

In [30]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [51]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [52]:
# Check name counts
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [53]:
# Replace if counts are less or equal to 5
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for name in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(name, 'Other')

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [54]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [55]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [56]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [57]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [58]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [59]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [60]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [61]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=90
hidden_nodes_layer2=35
hidden_nodes_layer3=15 # Added later


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer (Added later)
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 90)                36180

 dense_16 (Dense)            (None, 35)                3185

 dense_17 (Dense)            (None, 15)                540

 dense_18 (Dense)            (None, 1)                 16

=================================================================
Total params: 39921 (155.94 KB)
Trainable params: 39921 (155.94 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [62]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [63]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4675 - accuracy: 0.7781
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4306 - accuracy: 0.7952
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4248 - accuracy: 0.7959
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4231 - accuracy: 0.7971
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4212 - accuracy: 0.7982
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.7990
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4184 - accuracy: 0.7996
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4182 - accuracy: 0.7998
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4163 - accuracy: 0.8007
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4159 - accuracy: 0.8019
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.8013
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4148 - accuracy: 0.8028
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4138 - accuracy: 0.8025
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4132 - accuracy: 0.8019
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4131 - accuracy: 0.8028
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8026
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4115 - accuracy: 0.8044
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4110 - accuracy: 0.8040
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8045
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4104 - accuracy: 0.8036
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4098 - accuracy: 0.8043
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4095 - accuracy: 0.8052
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4094 - accuracy: 0.8042
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4087 - accuracy: 0.8054
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4084 - accuracy: 0.8063
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4080 - accuracy: 0.8047
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4080 - accuracy: 0.8052
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4074 - accuracy: 0.8052
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4074 - accuracy: 0.8054
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8049
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4065 - accuracy: 0.8051
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4059 - accuracy: 0.8059
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8062
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4056 - accuracy: 0.8067
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4058 - accuracy: 0.8056
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8057
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8070
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8066
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4037 - accuracy: 0.8072
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8066
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4043 - accuracy: 0.8075
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8075
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8075
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8075
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8067
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4029 - accuracy: 0.8073
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8081
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8092
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8073
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8070
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4015 - accuracy: 0.8075
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4015 - accuracy: 0.8070
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8082
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8087
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4009 - accuracy: 0.8084
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4009 - accuracy: 0.8084
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4014 - accuracy: 0.8080
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4005 - accuracy: 0.8081
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4009 - accuracy: 0.8085
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4005 - accuracy: 0.8103
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4006 - accuracy: 0.8079
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4004 - accuracy: 0.8084
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4002 - accuracy: 0.8085
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8094
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4000 - accuracy: 0.8084
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3997 - accuracy: 0.8078
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3997 - accuracy: 0.8091
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3995 - accuracy: 0.8094
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3996 - accuracy: 0.8094
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3995 - accuracy: 0.8081
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8087
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3991 - accuracy: 0.8087
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3992 - accuracy: 0.8085
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3992 - accuracy: 0.8092
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8090
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3992 - accuracy: 0.8080
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8080
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8084
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3984 - accuracy: 0.8089
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3988 - accuracy: 0.8089
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8093
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3987 - accuracy: 0.8082
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3981 - accuracy: 0.8101
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8093
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3985 - accuracy: 0.8086
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3983 - accuracy: 0.8092
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3979 - accuracy: 0.8096
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3985 - accuracy: 0.8092
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3981 - accuracy: 0.8089
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3978 - accuracy: 0.8101
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3979 - accuracy: 0.8099
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8093
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8096
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3972 - accuracy: 0.8095
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3975 - accuracy: 0.8098
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.3975 - accuracy: 0.8092
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3975 - accuracy: 0.8092
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3970 - accuracy: 0.8095
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3975 - accuracy: 0.8092
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3971 - accuracy: 0.8101

In [64]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4716 - accuracy: 0.7858 - 548ms/epoch - 2ms/step
Loss: 0.4715544283390045, Accuracy: 0.7857726216316223

In [65]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(